@use '../../../theme' as *;

.container {
  border: 1px solid var(--color-border);
  border-radius: #{$border-radius-s-m}px;
  margin-bottom: 8px;
  overflow: hidden;
  background: var(--color-bg-container-lighter);
  :global(.luna-audio-player) {
    border: none;
    background: var(--color-bg-container-lighter);
  }
}

.toolbar {
  padding: 0 2px;
}
