[submodule "src/share"]
	path = src/share
	url = https://github.com/liriliri/electron-share.git
[submodule "indextts/index-tts"]
	path = indextts/index-tts
	url = https://github.com/liriliri/index-tts.git
[submodule "src/renderer/icon"]
	path = src/renderer/icon
	url = https://github.com/liriliri/icon-share.git
