@use '../../../theme' as *;

.container {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 14px 8px;
  padding-bottom: 0;
  :global(.luna-audio-player) {
    margin-bottom: 14px;
    border-radius: #{$border-radius-s-m}px;
    transition: 0.3s border-color;
    background: var(--color-bg-container-lighter);
    &:hover {
      border-color: var(--color-primary);
    }
  }
}

.no-audios {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  opacity: 0.5;
}
